In [20]:
import requests

In [21]:
data=requests.get("https://www.alphavantage.co/query?function=CRYPTO_INTRADAY&symbol=BTC&market=USD&interval=5min&apikey=8DV7BJU8CRZYJTE9")
data

In [22]:
data.json()

{'Meta Data': {'1. Information': 'Crypto Intraday (5min) Time Series',
  '2. Digital Currency Code': 'BTC',
  '3. Digital Currency Name': 'Bitcoin',
  '4. Market Code': 'USD',
  '5. Market Name': 'United States Dollar',
  '6. Last Refreshed': '2022-06-19 19:55:00',
  '7. Interval': '5min',
  '8. Output Size': 'Compact',
  '9. Time Zone': 'UTC'},
 'Time Series Crypto (5min)': {'2022-06-19 19:55:00': {'1. open': '20153.14000',
   '2. high': '20214.27000',
   '3. low': '20121.22000',
   '4. close': '20174.57000',
   '5. volume': 247},
  '2022-06-19 19:50:00': {'1. open': '20196.34000',
   '2. high': '20243.55000',
   '3. low': '20128.56000',
   '4. close': '20153.13000',
   '5. volume': 646},
  '2022-06-19 19:45:00': {'1. open': '20198.49000',
   '2. high': '20299.00000',
   '3. low': '20129.47000',
   '4. close': '20196.34000',
   '5. volume': 648},
  '2022-06-19 19:40:00': {'1. open': '20086.62000',
   '2. high': '20269.12000',
   '3. low': '20086.62000',
   '4. close': '20198.49000',
   '5. volume': 533},
  '2022-06-19 19:35:00': {'1. open': '20138.70000',
   '2. high': '20220.00000',
   '3. low': '20086.62000',
   '4. close': '20086.62000',
   '5. volume': 624},
  '2022-06-19 19:30:00': {'1. open': '20031.21000',
   '2. high': '20173.41000',
   '3. low': '19988.29000',
   '4. close': '20138.69000',
   '5. volume': 563},
  '2022-06-19 19:25:00': {'1. open': '19928.98000',
   '2. high': '20078.71000',
   '3. low': '19925.33000',
   '4. close': '20031.21000',
   '5. volume': 440},
  '2022-06-19 19:20:00': {'1. open': '19890.01000',
   '2. high': '19964.27000',
   '3. low': '19840.93000',
   '4. close': '19928.98000',
   '5. volume': 235},
  '2022-06-19 19:15:00': {'1. open': '19949.08000',
   '2. high': '19990.90000',
   '3. low': '19860.33000',
   '4. close': '19890.01000',
   '5. volume': 285},
  '2022-06-19 19:10:00': {'1. open': '19935.66000',
   '2. high': '20040.52000',
   '3. low': '19877.10000',
   '4. close': '19949.07000',
   '5. volume': 602},
  '2022-06-19 19:05:00': {'1. open': '20127.18000',
   '2. high': '20143.68000',
   '3. low': '19898.97000',
   '4. close': '19935.67000',
   '5. volume': 758},
  '2022-06-19 19:00:00': {'1. open': '20254.52000',
   '2. high': '20344.91000',
   '3. low': '20034.65000',
   '4. close': '20127.18000',
   '5. volume': 2124},
  '2022-06-19 18:55:00': {'1. open': '19773.17000',
   '2. high': '20263.29000',
   '3. low': '19750.48000',
   '4. close': '20254.52000',
   '5. volume': 2349},
  '2022-06-19 18:50:00': {'1. open': '19644.17000',
   '2. high': '19790.00000',
   '3. low': '19619.59000',
   '4. close': '19773.16000',
   '5. volume': 315},
  '2022-06-19 18:45:00': {'1. open': '19592.61000',
   '2. high': '19646.14000',
   '3. low': '19561.35000',
   '4. close': '19644.17000',
   '5. volume': 208},
  '2022-06-19 18:40:00': {'1. open': '19606.44000',
   '2. high': '19606.45000',
   '3. low': '19564.43000',
   '4. close': '19592.60000',
   '5. volume': 104},
  '2022-06-19 18:35:00': {'1. open': '19626.31000',
   '2. high': '19654.17000',
   '3. low': '19594.10000',
   '4. close': '19606.45000',
   '5. volume': 233},
  '2022-06-19 18:30:00': {'1. open': '19626.20000',
   '2. high': '19661.00000',
   '3. low': '19587.96000',
   '4. close': '19626.31000',
   '5. volume': 112},
  '2022-06-19 18:25:00': {'1. open': '19626.51000',
   '2. high': '19633.65000',
   '3. low': '19567.96000',
   '4. close': '19625.59000',
   '5. volume': 98},
  '2022-06-19 18:20:00': {'1. open': '19632.75000',
   '2. high': '19666.06000',
   '3. low': '19596.61000',
   '4. close': '19626.50000',
   '5. volume': 130},
  '2022-06-19 18:15:00': {'1. open': '19592.31000',
   '2. high': '19750.00000',
   '3. low': '19564.62000',
   '4. close': '19632.75000',
   '5. volume': 519},
  '2022-06-19 18:10:00': {'1. open': '19538.69000',
   '2. high': '19626.65000',
   '3. low': '19505.51000',
   '4. close': '19592.32000',
   '5. volume': 268},
  '2022-06-19 18:05:00': {'1. open': '19417.49000',
   '2. high': '19557.11000',
   '3. low': '19415.92000',
   '4. close': '19538.68000',
   '5. volume': 223},
  '2022-06-19 18:00:00': {'1. open': '19445.60000',
   '2. high': '19474.24000',
   '3. low': '19413.44000',
   '4. close': '19417.49000',
   '5. volume': 107},
  '2022-06-19 17:55:00': {'1. open': '19435.65000',
   '2. high': '19464.27000',
   '3. low': '19413.13000',
   '4. close': '19445.99000',
   '5. volume': 110},
  '2022-06-19 17:50:00': {'1. open': '19457.62000',
   '2. high': '19460.25000',
   '3. low': '19388.82000',
   '4. close': '19435.65000',
   '5. volume': 164},
  '2022-06-19 17:45:00': {'1. open': '19514.98000',
   '2. high': '19526.33000',
   '3. low': '19438.76000',
   '4. close': '19457.61000',
   '5. volume': 188},
  '2022-06-19 17:40:00': {'1. open': '19487.14000',
   '2. high': '19518.98000',
   '3. low': '19455.63000',
   '4. close': '19514.98000',
   '5. volume': 100},
  '2022-06-19 17:35:00': {'1. open': '19449.27000',
   '2. high': '19500.00000',
   '3. low': '19426.63000',
   '4. close': '19487.13000',
   '5. volume': 92},
  '2022-06-19 17:30:00': {'1. open': '19524.19000',
   '2. high': '19576.19000',
   '3. low': '19420.00000',
   '4. close': '19449.26000',
   '5. volume': 226},
  '2022-06-19 17:25:00': {'1. open': '19479.41000',
   '2. high': '19548.48000',
   '3. low': '19479.41000',
   '4. close': '19524.20000',
   '5. volume': 129},
  '2022-06-19 17:20:00': {'1. open': '19455.95000',
   '2. high': '19532.58000',
   '3. low': '19439.03000',
   '4. close': '19479.41000',
   '5. volume': 217},
  '2022-06-19 17:15:00': {'1. open': '19487.44000',
   '2. high': '19519.90000',
   '3. low': '19407.52000',
   '4. close': '19455.95000',
   '5. volume': 275},
  '2022-06-19 17:10:00': {'1. open': '19482.93000',
   '2. high': '19510.65000',
   '3. low': '19458.89000',
   '4. close': '19487.43000',
   '5. volume': 126},
  '2022-06-19 17:05:00': {'1. open': '19568.02000',
   '2. high': '19579.19000',
   '3. low': '19466.68000',
   '4. close': '19482.92000',
   '5. volume': 206},
  '2022-06-19 17:00:00': {'1. open': '19521.68000',
   '2. high': '19597.64000',
   '3. low': '19511.64000',
   '4. close': '19568.02000',
   '5. volume': 167},
  '2022-06-19 16:55:00': {'1. open': '19491.74000',
   '2. high': '19539.65000',
   '3. low': '19464.03000',
   '4. close': '19520.84000',
   '5. volume': 164},
  '2022-06-19 16:50:00': {'1. open': '19387.41000',
   '2. high': '19518.67000',
   '3. low': '19382.73000',
   '4. close': '19491.73000',
   '5. volume': 286},
  '2022-06-19 16:45:00': {'1. open': '19618.75000',
   '2. high': '19721.49000',
   '3. low': '19350.08000',
   '4. close': '19387.42000',
   '5. volume': 847},
  '2022-06-19 16:40:00': {'1. open': '19565.86000',
   '2. high': '19650.00000',
   '3. low': '19553.73000',
   '4. close': '19618.75000',
   '5. volume': 159},
  '2022-06-19 16:35:00': {'1. open': '19598.40000',
   '2. high': '19600.00000',
   '3. low': '19527.70000',
   '4. close': '19566.49000',
   '5. volume': 181},
  '2022-06-19 16:30:00': {'1. open': '19625.16000',
   '2. high': '19645.00000',
   '3. low': '19575.17000',
   '4. close': '19598.40000',
   '5. volume': 143},
  '2022-06-19 16:25:00': {'1. open': '19590.62000',
   '2. high': '19643.33000',
   '3. low': '19585.07000',
   '4. close': '19625.16000',
   '5. volume': 171},
  '2022-06-19 16:20:00': {'1. open': '19600.22000',
   '2. high': '19661.28000',
   '3. low': '19556.20000',
   '4. close': '19590.61000',
   '5. volume': 394},
  '2022-06-19 16:15:00': {'1. open': '19650.93000',
   '2. high': '19695.18000',
   '3. low': '19592.24000',
   '4. close': '19600.21000',
   '5. volume': 252},
  '2022-06-19 16:10:00': {'1. open': '19693.66000',
   '2. high': '19729.91000',
   '3. low': '19623.96000',
   '4. close': '19650.94000',
   '5. volume': 315},
  '2022-06-19 16:05:00': {'1. open': '19802.99000',
   '2. high': '19827.46000',
   '3. low': '19683.46000',
   '4. close': '19693.67000',
   '5. volume': 448},
  '2022-06-19 16:00:00': {'1. open': '19824.96000',
   '2. high': '19872.18000',
   '3. low': '19716.75000',
   '4. close': '19802.99000',
   '5. volume': 432},
  '2022-06-19 15:55:00': {'1. open': '19811.59000',
   '2. high': '19850.80000',
   '3. low': '19722.97000',
   '4. close': '19824.97000',
   '5. volume': 415},
  '2022-06-19 15:50:00': {'1. open': '19804.58000',
   '2. high': '19945.88000',
   '3. low': '19764.41000',
   '4. close': '19811.59000',
   '5. volume': 634},
  '2022-06-19 15:45:00': {'1. open': '19704.30000',
   '2. high': '19823.86000',
   '3. low': '19652.39000',
   '4. close': '19804.59000',
   '5. volume': 528},
  '2022-06-19 15:40:00': {'1. open': '19855.81000',
   '2. high': '19858.93000',
   '3. low': '19659.15000',
   '4. close': '19704.30000',
   '5. volume': 937},
  '2022-06-19 15:35:00': {'1. open': '19772.10000',
   '2. high': '19912.00000',
   '3. low': '19695.54000',
   '4. close': '19855.81000',
   '5. volume': 1475},
  '2022-06-19 15:30:00': {'1. open': '19420.09000',
   '2. high': '19850.00000',
   '3. low': '19420.08000',
   '4. close': '19772.10000',
   '5. volume': 1456},
  '2022-06-19 15:25:00': {'1. open': '19400.02000',
   '2. high': '19449.99000',
   '3. low': '19392.85000',
   '4. close': '19420.09000',
   '5. volume': 196},
  '2022-06-19 15:20:00': {'1. open': '19365.40000',
   '2. high': '19407.34000',
   '3. low': '19330.91000',
   '4. close': '19400.01000',
   '5. volume': 147},
  '2022-06-19 15:15:00': {'1. open': '19375.05000',
   '2. high': '19400.52000',
   '3. low': '19327.44000',
   '4. close': '19365.41000',
   '5. volume': 265},
  '2022-06-19 15:10:00': {'1. open': '19399.99000',
   '2. high': '19437.32000',
   '3. low': '19352.39000',
   '4. close': '19375.06000',
   '5. volume': 231},
  '2022-06-19 15:05:00': {'1. open': '19473.25000',
   '2. high': '19502.10000',
   '3. low': '19385.53000',
   '4. close': '19399.99000',
   '5. volume': 214},
  '2022-06-19 15:00:00': {'1. open': '19472.24000',
   '2. high': '19537.08000',
   '3. low': '19463.17000',
   '4. close': '19473.25000',
   '5. volume': 236},
  '2022-06-19 14:55:00': {'1. open': '19439.80000',
   '2. high': '19511.16000',
   '3. low': '19433.38000',
   '4. close': '19472.24000',
   '5. volume': 167},
  '2022-06-19 14:50:00': {'1. open': '19433.86000',
   '2. high': '19478.26000',
   '3. low': '19415.92000',
   '4. close': '19439.76000',
   '5. volume': 135},
  '2022-06-19 14:45:00': {'1. open': '19415.45000',
   '2. high': '19514.14000',
   '3. low': '19401.08000',
   '4. close': '19433.87000',
   '5. volume': 324},
  '2022-06-19 14:40:00': {'1. open': '19409.77000',
   '2. high': '19427.79000',
   '3. low': '19378.07000',
   '4. close': '19415.44000',
   '5. volume': 140},
  '2022-06-19 14:35:00': {'1. open': '19400.00000',
   '2. high': '19434.75000',
   '3. low': '19377.10000',
   '4. close': '19409.76000',
   '5. volume': 197},
  '2022-06-19 14:30:00': {'1. open': '19368.88000',
   '2. high': '19448.28000',
   '3. low': '19359.58000',
   '4. close': '19400.01000',
   '5. volume': 300},
  '2022-06-19 14:25:00': {'1. open': '19280.68000',
   '2. high': '19397.03000',
   '3. low': '19280.67000',
   '4. close': '19368.88000',
   '5. volume': 226},
  '2022-06-19 14:20:00': {'1. open': '19283.56000',
   '2. high': '19319.08000',
   '3. low': '19270.79000',
   '4. close': '19280.68000',
   '5. volume': 156},
  '2022-06-19 14:15:00': {'1. open': '19209.66000',
   '2. high': '19287.00000',
   '3. low': '19156.22000',
   '4. close': '19283.56000',
   '5. volume': 324},
  '2022-06-19 14:10:00': {'1. open': '19299.89000',
   '2. high': '19317.73000',
   '3. low': '19199.10000',
   '4. close': '19209.66000',
   '5. volume': 325},
  '2022-06-19 14:05:00': {'1. open': '19252.44000',
   '2. high': '19341.44000',
   '3. low': '19252.42000',
   '4. close': '19299.90000',
   '5. volume': 352},
  '2022-06-19 14:00:00': {'1. open': '19185.86000',
   '2. high': '19309.78000',
   '3. low': '19172.07000',
   '4. close': '19252.43000',
   '5. volume': 401},
  '2022-06-19 13:55:00': {'1. open': '19354.44000',
   '2. high': '19384.02000',
   '3. low': '19130.84000',
   '4. close': '19185.87000',
   '5. volume': 1013},
  '2022-06-19 13:50:00': {'1. open': '19435.56000',
   '2. high': '19440.72000',
   '3. low': '19354.44000',
   '4. close': '19354.44000',
   '5. volume': 211},
  '2022-06-19 13:45:00': {'1. open': '19438.40000',
   '2. high': '19467.38000',
   '3. low': '19383.30000',
   '4. close': '19435.56000',
   '5. volume': 254},
  '2022-06-19 13:40:00': {'1. open': '19488.84000',
   '2. high': '19515.02000',
   '3. low': '19434.34000',
   '4. close': '19438.40000',
   '5. volume': 169},
  '2022-06-19 13:35:00': {'1. open': '19460.83000',
   '2. high': '19540.00000',
   '3. low': '19450.45000',
   '4. close': '19488.84000',
   '5. volume': 200},
  '2022-06-19 13:30:00': {'1. open': '19521.79000',
   '2. high': '19592.57000',
   '3. low': '19450.68000',
   '4. close': '19460.84000',
   '5. volume': 466},
  '2022-06-19 13:25:00': {'1. open': '19483.73000',
   '2. high': '19532.31000',
   '3. low': '19483.11000',
   '4. close': '19521.79000',
   '5. volume': 203},
  '2022-06-19 13:20:00': {'1. open': '19468.42000',
   '2. high': '19530.00000',
   '3. low': '19458.96000',
   '4. close': '19483.73000',
   '5. volume': 179},
  '2022-06-19 13:15:00': {'1. open': '19362.57000',
   '2. high': '19550.00000',
   '3. low': '19354.16000',
   '4. close': '19468.41000',
   '5. volume': 358},
  '2022-06-19 13:10:00': {'1. open': '19418.13000',
   '2. high': '19427.00000',
   '3. low': '19347.50000',
   '4. close': '19362.57000',
   '5. volume': 275},
  '2022-06-19 13:05:00': {'1. open': '19386.66000',
   '2. high': '19442.30000',
   '3. low': '19374.96000',
   '4. close': '19418.14000',
   '5. volume': 196},
  '2022-06-19 13:00:00': {'1. open': '19344.26000',
   '2. high': '19415.43000',
   '3. low': '19330.00000',
   '4. close': '19386.65000',
   '5. volume': 208},
  '2022-06-19 12:55:00': {'1. open': '19314.31000',
   '2. high': '19411.52000',
   '3. low': '19284.51000',
   '4. close': '19344.27000',
   '5. volume': 639},
  '2022-06-19 12:50:00': {'1. open': '19419.73000',
   '2. high': '19475.08000',
   '3. low': '19284.50000',
   '4. close': '19314.30000',
   '5. volume': 456},
  '2022-06-19 12:45:00': {'1. open': '19384.29000',
   '2. high': '19475.56000',
   '3. low': '19362.22000',
   '4. close': '19419.74000',
   '5. volume': 474},
  '2022-06-19 12:40:00': {'1. open': '19479.76000',
   '2. high': '19490.37000',
   '3. low': '19371.24000',
   '4. close': '19384.29000',
   '5. volume': 276},
  '2022-06-19 12:35:00': {'1. open': '19500.56000',
   '2. high': '19545.69000',
   '3. low': '19467.65000',
   '4. close': '19479.75000',
   '5. volume': 446},
  '2022-06-19 12:30:00': {'1. open': '19419.11000',
   '2. high': '19524.62000',
   '3. low': '19285.09000',
   '4. close': '19500.56000',
   '5. volume': 1536},
  '2022-06-19 12:25:00': {'1. open': '19683.33000',
   '2. high': '19688.73000',
   '3. low': '19333.00000',
   '4. close': '19419.12000',
   '5. volume': 1567},
  '2022-06-19 12:20:00': {'1. open': '19859.15000',
   '2. high': '19884.78000',
   '3. low': '19673.20000',
   '4. close': '19683.33000',
   '5. volume': 487},
  '2022-06-19 12:15:00': {'1. open': '19767.77000',
   '2. high': '19944.52000',
   '3. low': '19744.65000',
   '4. close': '19859.15000',
   '5. volume': 665},
  '2022-06-19 12:10:00': {'1. open': '19762.24000',
   '2. high': '19791.98000',
   '3. low': '19740.39000',
   '4. close': '19767.77000',
   '5. volume': 329},
  '2022-06-19 12:05:00': {'1. open': '19655.72000',
   '2. high': '19780.17000',
   '3. low': '19646.54000',
   '4. close': '19762.24000',
   '5. volume': 319},
  '2022-06-19 12:00:00': {'1. open': '19692.49000',
   '2. high': '19760.77000',
   '3. low': '19643.87000',
   '4. close': '19656.73000',
   '5. volume': 313},
  '2022-06-19 11:55:00': {'1. open': '19699.96000',
   '2. high': '19737.13000',
   '3. low': '19676.02000',
   '4. close': '19692.50000',
   '5. volume': 199},
  '2022-06-19 11:50:00': {'1. open': '19666.01000',
   '2. high': '19700.00000',
   '3. low': '19660.02000',
   '4. close': '19699.97000',
   '5. volume': 265},
  '2022-06-19 11:45:00': {'1. open': '19645.33000',
   '2. high': '19681.75000',
   '3. low': '19595.98000',
   '4. close': '19666.01000',
   '5. volume': 209},
  '2022-06-19 11:40:00': {'1. open': '19666.68000',
   '2. high': '19675.36000',
   '3. low': '19573.30000',
   '4. close': '19645.33000',
   '5. volume': 498}}}

In [23]:
data=data.json()

In [24]:
  import pandas as pd

In [25]:
pandas_dataframe=pd.DataFrame(data)
print(pandas_dataframe)

                                                   Meta Data  \
1. Information            Crypto Intraday (5min) Time Series
2. Digital Currency Code                                 BTC
3. Digital Currency Name                             Bitcoin
4. Market Code                                           USD
5. Market Name                          United States Dollar
...                                                      ...
2022-06-19 12:00:00                                      NaN
2022-06-19 11:55:00                                      NaN
2022-06-19 11:50:00                                      NaN
2022-06-19 11:45:00                                      NaN
2022-06-19 11:40:00                                      NaN

                                                  Time Series Crypto (5min)
1. Information                                                          NaN
2. Digital Currency Code                                                NaN
3. Digital Currency Name                                                NaN
4. Market Code                                                          NaN
5. Market Name                                                          NaN
...                                                                     ...
2022-06-19 12:00:00       {'1. open': '19692.49000', '2. high': '19760.7...
2022-06-19 11:55:00       {'1. open': '19699.96000', '2. high': '19737.1...
2022-06-19 11:50:00       {'1. open': '19666.01000', '2. high': '19700.0...
2022-06-19 11:45:00       {'1. open': '19645.33000', '2. high': '19681.7...
2022-06-19 11:40:00       {'1. open': '19666.68000', '2. high': '19675.3...

[109 rows x 2 columns]

In [26]:
datatwo=data['Time Series (5min)']

KeyError: 'Time Series (5min)'

In [27]:
datatwo=data['Time Series Crypto (5min)']

In [28]:
import pandas as pd

In [29]:
pandas_dataframe=pd.DataFrame(datatwo)
print(pandas_dataframe)

          2022-06-19 19:55:00 2022-06-19 19:50:00 2022-06-19 19:45:00  \
1. open           20153.14000         20196.34000         20198.49000
2. high           20214.27000         20243.55000         20299.00000
3. low            20121.22000         20128.56000         20129.47000
4. close          20174.57000         20153.13000         20196.34000
5. volume                 247                 646                 648

          2022-06-19 19:40:00 2022-06-19 19:35:00 2022-06-19 19:30:00  \
1. open           20086.62000         20138.70000         20031.21000
2. high           20269.12000         20220.00000         20173.41000
3. low            20086.62000         20086.62000         19988.29000
4. close          20198.49000         20086.62000         20138.69000
5. volume                 533                 624                 563

          2022-06-19 19:25:00 2022-06-19 19:20:00 2022-06-19 19:15:00  \
1. open           19928.98000         19890.01000         19949.08000
2. high           20078.71000         19964.27000         19990.90000
3. low            19925.33000         19840.93000         19860.33000
4. close          20031.21000         19928.98000         19890.01000
5. volume                 440                 235                 285

          2022-06-19 19:10:00  ... 2022-06-19 12:25:00 2022-06-19 12:20:00  \
1. open           19935.66000  ...         19683.33000         19859.15000
2. high           20040.52000  ...         19688.73000         19884.78000
3. low            19877.10000  ...         19333.00000         19673.20000
4. close          19949.07000  ...         19419.12000         19683.33000
5. volume                 602  ...                1567                 487

          2022-06-19 12:15:00 2022-06-19 12:10:00 2022-06-19 12:05:00  \
1. open           19767.77000         19762.24000         19655.72000
2. high           19944.52000         19791.98000         19780.17000
3. low            19744.65000         19740.39000         19646.54000
4. close          19859.15000         19767.77000         19762.24000
5. volume                 665                 329                 319

          2022-06-19 12:00:00 2022-06-19 11:55:00 2022-06-19 11:50:00  \
1. open           19692.49000         19699.96000         19666.01000
2. high           19760.77000         19737.13000         19700.00000
3. low            19643.87000         19676.02000         19660.02000
4. close          19656.73000         19692.50000         19699.97000
5. volume                 313                 199                 265

          2022-06-19 11:45:00 2022-06-19 11:40:00
1. open           19645.33000         19666.68000
2. high           19681.75000         19675.36000
3. low            19595.98000         19573.30000
4. close          19666.01000         19645.33000
5. volume                 209                 498

[5 rows x 100 columns]

In [30]:
pandas_dataframe.transpose()

,1. open,2. high,3. low,4. close,5. volume
2022-06-19 19:55:00,20153.14000,20214.27000,20121.22000,20174.57000,247
2022-06-19 19:50:00,20196.34000,20243.55000,20128.56000,20153.13000,646
2022-06-19 19:45:00,20198.49000,20299.00000,20129.47000,20196.34000,648
2022-06-19 19:40:00,20086.62000,20269.12000,20086.62000,20198.49000,533
2022-06-19 19:35:00,20138.70000,20220.00000,20086.62000,20086.62000,624
...,...,...,...,...,...
2022-06-19 12:00:00,19692.49000,19760.77000,19643.87000,19656.73000,313
2022-06-19 11:55:00,19699.96000,19737.13000,19676.02000,19692.50000,199
2022-06-19 11:50:00,19666.01000,19700.00000,19660.02000,19699.97000,265
2022-06-19 11:45:00,19645.33000,19681.75000,19595.98000,19666.01000,209
2022-06-19 11:40:00,19666.68000,19675.36000,19573.30000,19645.33000,498

In [31]:
#reference - https://newbedev.com/python-create-nested-dict-via-dataframe-code-example#:~:text=create%20nested%20dict%20via%20dataframe%20code%20example%20Example%3A,are%20set%20up%20in%20a%20%23%20specific%20way.

In [33]:
BTCpdDF=pandas_dataframe.transpose()
print(BTCpdDF)

                         1. open      2. high       3. low     4. close  \
2022-06-19 19:55:00  20153.14000  20214.27000  20121.22000  20174.57000
2022-06-19 19:50:00  20196.34000  20243.55000  20128.56000  20153.13000
2022-06-19 19:45:00  20198.49000  20299.00000  20129.47000  20196.34000
2022-06-19 19:40:00  20086.62000  20269.12000  20086.62000  20198.49000
2022-06-19 19:35:00  20138.70000  20220.00000  20086.62000  20086.62000
...                          ...          ...          ...          ...
2022-06-19 12:00:00  19692.49000  19760.77000  19643.87000  19656.73000
2022-06-19 11:55:00  19699.96000  19737.13000  19676.02000  19692.50000
2022-06-19 11:50:00  19666.01000  19700.00000  19660.02000  19699.97000
2022-06-19 11:45:00  19645.33000  19681.75000  19595.98000  19666.01000
2022-06-19 11:40:00  19666.68000  19675.36000  19573.30000  19645.33000

                    5. volume
2022-06-19 19:55:00       247
2022-06-19 19:50:00       646
2022-06-19 19:45:00       648
2022-06-19 19:40:00       533
2022-06-19 19:35:00       624
...                       ...
2022-06-19 12:00:00       313
2022-06-19 11:55:00       199
2022-06-19 11:50:00       265
2022-06-19 11:45:00       209
2022-06-19 11:40:00       498

[100 rows x 5 columns]

In [34]:
print(BTCpdDF)

                         1. open      2. high       3. low     4. close  \
2022-06-19 19:55:00  20153.14000  20214.27000  20121.22000  20174.57000
2022-06-19 19:50:00  20196.34000  20243.55000  20128.56000  20153.13000
2022-06-19 19:45:00  20198.49000  20299.00000  20129.47000  20196.34000
2022-06-19 19:40:00  20086.62000  20269.12000  20086.62000  20198.49000
2022-06-19 19:35:00  20138.70000  20220.00000  20086.62000  20086.62000
...                          ...          ...          ...          ...
2022-06-19 12:00:00  19692.49000  19760.77000  19643.87000  19656.73000
2022-06-19 11:55:00  19699.96000  19737.13000  19676.02000  19692.50000
2022-06-19 11:50:00  19666.01000  19700.00000  19660.02000  19699.97000
2022-06-19 11:45:00  19645.33000  19681.75000  19595.98000  19666.01000
2022-06-19 11:40:00  19666.68000  19675.36000  19573.30000  19645.33000

                    5. volume
2022-06-19 19:55:00       247
2022-06-19 19:50:00       646
2022-06-19 19:45:00       648
2022-06-19 19:40:00       533
2022-06-19 19:35:00       624
...                       ...
2022-06-19 12:00:00       313
2022-06-19 11:55:00       199
2022-06-19 11:50:00       265
2022-06-19 11:45:00       209
2022-06-19 11:40:00       498

[100 rows x 5 columns]

In [35]:
display(BTCpdDF)

,1. open,2. high,3. low,4. close,5. volume
2022-06-19 19:55:00,20153.14000,20214.27000,20121.22000,20174.57000,247
2022-06-19 19:50:00,20196.34000,20243.55000,20128.56000,20153.13000,646
2022-06-19 19:45:00,20198.49000,20299.00000,20129.47000,20196.34000,648
2022-06-19 19:40:00,20086.62000,20269.12000,20086.62000,20198.49000,533
2022-06-19 19:35:00,20138.70000,20220.00000,20086.62000,20086.62000,624
...,...,...,...,...,...
2022-06-19 12:00:00,19692.49000,19760.77000,19643.87000,19656.73000,313
2022-06-19 11:55:00,19699.96000,19737.13000,19676.02000,19692.50000,199
2022-06-19 11:50:00,19666.01000,19700.00000,19660.02000,19699.97000,265
2022-06-19 11:45:00,19645.33000,19681.75000,19595.98000,19666.01000,209
2022-06-19 11:40:00,19666.68000,19675.36000,19573.30000,19645.33000,498

In [36]:
#learned avbout print versus display functionality in python#

In [37]:
df.columns=["Date/Time","Open","High","Low","Close","Volume"]

NameError: name 'df' is not defined

In [38]:
BTCpdDF.columns=["Date/Time","Open","High","Low","Close","Volume"]

ValueError: Length mismatch: Expected axis has 5 elements, new values have 6 elements

In [ ]:
#find a way to move column zero to column one and move everthing right and rename columns#